
<div class="location">
    <strong>你现在所在的位置是:</strong>
    <span>密码修改页面</span>
</div>
<div class="providerAdd">
    <form method="post" id="rpwdForm">
        <!--div的class 为error是验证错误，ok是验证成功-->
        <div class="">
            <label for="oldPassword">旧密码：</label>
            <input type="password" name="OldPassword" id="oldPassword" data-val="true" ajax-check-msg="*原密码不正确" ajax-url="../Util/AjaxCheckLogin" data-val-required="*请输入原密码" />
            <span data-valmsg-for="OldPassword" data-valmsg-replace="true"></span>
        </div>
        <div>
            <label for="newPassword">新密码：</label>
            <input type="password" name="NewPassword" id="newPassword" data-val="true" data-val-regex="*密码格式不正确" data-val-regex-pattern="^[a-zA-Z]\w{5,17}$" data-val-required="*请输入密码" />
            <span data-valmsg-for="NewPassword" data-valmsg-replace="true"></span>
        </div>
        <div>
            <label for="reNewPassword">确认新密码：</label>
            <input type="password" name="ReNewPassword" id="reNewPassword" data-val="true" data-val-equalto="*两次密码不一致" data-val-equalto-other="*.NewPassword" data-val-required="*请输入确认密码" />
            <span data-valmsg-for="ReNewPassword" data-valmsg-replace="true"></span>
        </div>
        <div class="providerAddBtn">
            <!--<a href="#">保存</a>-->
            <input type="button" value="保存" id="btnSave" />
            <input type="button" value="取消" onclick="history.back(-1)" />
        </div>
    </form>
</div>

@section popUp{
    <!--点击删除按钮后弹出的页面-->
    <div class="remove" id="updatePwd">
        <div class="removerChid">
            <h2>提示</h2>
            <div class="removeMain">
                <p>请确定是否修改密码？</p>
                <a href="#" id="yes">确定</a>
                <a href="#" id="no">取消</a>
            </div>
        </div>
    </div>
}

@section script{
    <script src="~/js/jquery.js"></script>
    <script src="~/js/jquery.validate.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/js.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#btnSave").click(function () {
                if (check_all(this)) {
                    $('.zhezhao').css('display', 'block');
                    $("#updatePwd").fadeIn();
                }
            });
            $("#no").click(function () {
                $(".zhezhao").css('display', 'none');
                $("#updatePwd").fadeOut();
            });

            $("#yes").click(function () {
                $("#rpwdForm").submit();
            });
        });
    </script>
}

